# 四川金融科技

## 1.数据预处理

In [1]:
import numpy as np
import pandas as pd
import os
os.chdir("/Users/yangwei/Desktop/四川金融科技大赛/")

### 对基本信息表data_b_train进行整理

In [2]:
data_b_train=pd.read_csv("data_b_train.csv")

In [3]:
data_b_train.shape

(15286, 19)

In [4]:
data_b_train.head()

,id,x_num_0,x_num_1,x_num_2,x_num_3,x_num_4,x_cat_0,x_cat_1,x_cat_2,x_cat_3,x_cat_4,x_cat_5,x_cat_6,x_cat_7,x_cat_8,x_cat_9,x_cat_10,x_cat_11,x_cat_12
0,0,0.465,-99.000000,0.575,0.739470,0.017005,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0.630,0.884527,0.400,0.658543,0.017889,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,0.495,0.595843,0.300,0.661854,0.033889,0,0,1,0,1,0,1,0,0,1,0,0,0
3,3,0.705,0.884527,0.625,0.662914,0.004389,0,0,0,0,0,0,0,0,0,1,0,1,1
4,4,0.690,1.000000,0.475,0.652848,0.003889,0,0,0,0,0,0,1,0,0,0,0,0,0

In [5]:
data_b_train.describe()

,id,x_num_0,x_num_1,x_num_2,x_num_3,x_num_4,x_cat_0,x_cat_1,x_cat_2,x_cat_3,x_cat_4,x_cat_5,x_cat_6,x_cat_7,x_cat_8,x_cat_9,x_cat_10,x_cat_11,x_cat_12
count,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.0,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000,15286.000000
mean,7642.500000,-1.227605,-3.608419,0.351402,-1.117953,0.041526,0.222818,0.005364,0.168978,0.019691,0.234005,0.0,0.201361,0.011775,0.015831,0.167539,0.000720,0.143268,0.210258
std,4412.832443,13.259617,20.329409,0.173956,13.273673,0.061909,0.416151,0.073048,0.374745,0.138941,0.423389,0.0,0.401030,0.107878,0.124827,0.373469,0.026817,0.350358,0.407505
min,0.000000,-99.000000,-99.000000,0.000000,-99.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3821.250000,0.445000,0.595843,0.225000,0.609669,0.006289,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7642.500000,0.565000,0.769053,0.325000,0.674040,0.019889,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11463.750000,0.695000,0.884527,0.450000,0.741722,0.049889,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15285.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

**‘x_num_0’，‘x_num_1’和‘x_num_3’中存在-99，与其他值差距很大，认为是缺失值，需要处理**

In [6]:
data_b_train=data_b_train.replace(-99,np.nan)

In [7]:
data_b_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15286 entries, 0 to 15285
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        15286 non-null  int64
 1   x_num_0   15010 non-null  float64
 2   x_num_1   14622 non-null  float64
 3   x_num_2   15286 non-null  float64
 4   x_num_3   15010 non-null  float64
 5   x_num_4   15286 non-null  float64
 6   x_cat_0   15286 non-null  int64
 7   x_cat_1   15286 non-null  int64
 8   x_cat_2   15286 non-null  int64
 9   x_cat_3   15286 non-null  int64
 10  x_cat_4   15286 non-null  int64
 11  x_cat_5   15286 non-null  int64
 12  x_cat_6   15286 non-null  int64
 13  x_cat_7   15286 non-null  int64
 14  x_cat_8   15286 non-null  int64
 15  x_cat_9   15286 non-null  int64
 16  x_cat_10  15286 non-null  int64
 17  x_cat_11  15286 non-null  int64
 18  x_cat_12  15286 non-null  int64
dtypes: float64(5), int64(14)
memory usage: 2.2 MB

In [8]:
data_b_train.isnull().sum()

id            0
x_num_0     276
x_num_1     664
x_num_2       0
x_num_3     276
x_num_4       0
x_cat_0       0
x_cat_1       0
x_cat_2       0
x_cat_3       0
x_cat_4       0
x_cat_5       0
x_cat_6       0
x_cat_7       0
x_cat_8       0
x_cat_9       0
x_cat_10      0
x_cat_11      0
x_cat_12      0
dtype: int64

In [9]:
#使用随机森林对缺失值进行预测填充
from sklearn.ensemble import RandomForestRegressor

#把要填充的特征和其他无缺失的特征取出，这里先处理x_num_0特征
qs_columns=['x_num_0','x_num_1','x_num_3'] #有缺失的列名
for i in range(len(qs_columns)):
    data1_add=data_b_train[qs_columns[i]]
    data1=data_b_train[['x_num_2','x_num_4','x_cat_0','x_cat_1','x_cat_2','x_cat_3','x_cat_4','x_cat_5','x_cat_6','x_cat_7','x_cat_8','x_cat_9','x_cat_10','x_cat_11','x_cat_12']]
    data1.insert(0,qs_columns[i],data1_add)


    #成缺失值和非缺失值两部分，分别作为训练集和测试集
    know=data1[data1[qs_columns[i]].notnull()].values
    unknow=data1[data1[qs_columns[i]].isnull()].values

    #获取训练集特征和结果标签
    X=know[:,1:] #训练集特征
    y=know[:,0]  #训练集的结果标签

    #利用上面构建的训练集训练随机森林回归模型
    RF_clf=RandomForestRegressor(random_state=0,n_estimators=200,n_jobs=-1)
    RF_clf.fit(X,y)

    #用得到的模型对年龄位置的样本进行预测
    y_predicted=RF_clf.predict(unknow[:,1:])

    #用得到的预测结果填补原缺失数据
    data_b_train.loc[(data1[qs_columns[i]].isnull()),qs_columns[i]]=y_predicted

In [10]:
data_b_train.isnull().sum() #已经没有缺失值了

id          0
x_num_0     0
x_num_1     0
x_num_2     0
x_num_3     0
x_num_4     0
x_cat_0     0
x_cat_1     0
x_cat_2     0
x_cat_3     0
x_cat_4     0
x_cat_5     0
x_cat_6     0
x_cat_7     0
x_cat_8     0
x_cat_9     0
x_cat_10    0
x_cat_11    0
x_cat_12    0
dtype: int64

In [11]:
data_b_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15286 entries, 0 to 15285
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        15286 non-null  int64
 1   x_num_0   15286 non-null  float64
 2   x_num_1   15286 non-null  float64
 3   x_num_2   15286 non-null  float64
 4   x_num_3   15286 non-null  float64
 5   x_num_4   15286 non-null  float64
 6   x_cat_0   15286 non-null  int64
 7   x_cat_1   15286 non-null  int64
 8   x_cat_2   15286 non-null  int64
 9   x_cat_3   15286 non-null  int64
 10  x_cat_4   15286 non-null  int64
 11  x_cat_5   15286 non-null  int64
 12  x_cat_6   15286 non-null  int64
 13  x_cat_7   15286 non-null  int64
 14  x_cat_8   15286 non-null  int64
 15  x_cat_9   15286 non-null  int64
 16  x_cat_10  15286 non-null  int64
 17  x_cat_11  15286 non-null  int64
 18  x_cat_12  15286 non-null  int64
dtypes: float64(5), int64(14)
memory usage: 2.2 MB

In [12]:
data_b_train.head()

,id,x_num_0,x_num_1,x_num_2,x_num_3,x_num_4,x_cat_0,x_cat_1,x_cat_2,x_cat_3,x_cat_4,x_cat_5,x_cat_6,x_cat_7,x_cat_8,x_cat_9,x_cat_10,x_cat_11,x_cat_12
0,0,0.465,0.670640,0.575,0.739470,0.017005,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0.630,0.884527,0.400,0.658543,0.017889,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,0.495,0.595843,0.300,0.661854,0.033889,0,0,1,0,1,0,1,0,0,1,0,0,0
3,3,0.705,0.884527,0.625,0.662914,0.004389,0,0,0,0,0,0,0,0,0,1,0,1,1
4,4,0.690,1.000000,0.475,0.652848,0.003889,0,0,0,0,0,0,1,0,0,0,0,0,0

### 对用户行为表data_m_train进行整理

In [13]:
data_m_train=pd.read_csv("data_m_train.csv")

In [14]:
data_m_train.shape

(172659, 68)

In [15]:
data_m_train.head()

,id,timestamp,x_num_70,x_num_5,x_num_6,x_num_7,x_num_8,x_num_9,x_num_10,x_num_11,...,x_num_60,x_num_61,x_num_62,x_num_63,x_num_64,x_num_65,x_num_66,x_num_67,x_num_68,x_num_69
0,0,0,0.000000,0.000000,0.0,0.0,-99.0,0.060606,0.000000,0.0,...,0.002410,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
1,0,1,0.041667,0.021978,0.0,0.0,-99.0,0.060606,0.001955,0.0,...,0.004819,0.011111,0.000845,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
2,0,2,0.083333,0.003663,0.0,0.0,-99.0,0.060606,0.000000,0.0,...,0.002410,0.000000,0.000845,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
3,0,3,0.125000,0.000000,0.0,0.0,-99.0,0.060606,0.000000,0.0,...,0.000000,0.000000,0.000845,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
4,0,4,0.166667,0.010989,0.0,0.0,-99.0,0.060606,0.001955,0.0,...,0.002410,0.011111,0.001691,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556

In [16]:
data_m_train.describe()

,id,timestamp,x_num_70,x_num_5,x_num_6,x_num_7,x_num_8,x_num_9,x_num_10,x_num_11,...,x_num_60,x_num_61,x_num_62,x_num_63,x_num_64,x_num_65,x_num_66,x_num_67,x_num_68,x_num_69
count,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000,172659.0,172659.000000,172659.000000,172659.000000,...,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000,172659.000000
mean,7640.073324,5.977447,0.179782,0.014867,0.000001,0.001232,-99.0,0.035906,0.000639,0.000024,...,0.013736,0.006409,0.004391,0.000075,0.000586,0.001020,0.000482,0.000293,0.108294,0.047044
std,4415.056676,4.767957,0.157080,0.026951,0.000177,0.013732,0.0,0.046385,0.003956,0.003179,...,0.019453,0.013239,0.011578,0.003308,0.011184,0.015032,0.010902,0.007443,0.107509,0.051956
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-99.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3811.000000,2.000000,0.041667,0.000000,0.000000,0.000000,-99.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000465,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7639.000000,5.000000,0.166667,0.003663,0.000000,0.000000,-99.0,0.030303,0.000000,0.000000,...,0.007229,0.000000,0.001666,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.027778
75%,11470.000000,9.000000,0.250000,0.018315,0.000000,0.000000,-99.0,0.060606,0.000694,0.000000,...,0.019277,0.011111,0.004227,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.083333
max,15285.000000,24.000000,1.000000,1.000000,0.037133,0.788462,-99.0,0.848485,1.000000,0.673684,...,0.908434,0.555556,0.822775,0.375000,0.800000,1.000000,0.923077,0.666667,0.833333,0.805556

In [17]:
data_m_train=data_m_train.replace(-99,np.nan)

In [18]:
data_m_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172659 entries, 0 to 172658
Data columns (total 68 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         172659 non-null  int64
 1   timestamp  172659 non-null  int64
 2   x_num_70   172659 non-null  float64
 3   x_num_5    172659 non-null  float64
 4   x_num_6    172659 non-null  float64
 5   x_num_7    172659 non-null  float64
 6   x_num_8    0 non-null       float64
 7   x_num_9    172659 non-null  float64
 8   x_num_10   172659 non-null  float64
 9   x_num_11   172659 non-null  float64
 10  x_num_12   172659 non-null  float64
 11  x_num_13   172659 non-null  float64
 12  x_num_14   172659 non-null  float64
 13  x_num_15   172659 non-null  float64
 14  x_num_16   172659 non-null  float64
 15  x_num_17   172659 non-null  float64
 16  x_num_18   65570 non-null   float64
 17  x_num_19   172659 non-null  float64
 18  x_num_20   172659 non-null  float64
 19  x_num_21   172659 non-null  float64
 20  x_num_22   172659 non-null  float64
 21  x_num_23   172659 non-null  float64
 22  x_num_24   172659 non-null  float64
 23  x_num_25   172659 non-null  float64
 24  x_num_26   172659 non-null  float64
 25  x_num_27   172659 non-null  float64
 26  x_num_28   172659 non-null  float64
 27  x_num_29   172659 non-null  float64
 28  x_num_30   172659 non-null  float64
 29  x_num_31   172659 non-null  float64
 30  x_num_32   172659 non-null  float64
 31  x_num_33   172659 non-null  float64
 32  x_num_34   172659 non-null  float64
 33  x_num_35   172659 non-null  float64
 34  x_num_36   172659 non-null  float64
 35  x_num_37   172659 non-null  float64
 36  x_num_38   172659 non-null  float64
 37  x_num_39   172659 non-null  float64
 38  x_num_40   172659 non-null  float64
 39  x_num_41   164434 non-null  float64
 40  x_num_42   172659 non-null  float64
 41  x_num_43   65570 non-null   float64
 42  x_num_44   172659 non-null  float64
 43  x_num_45   172659 non-null  float64
 44  x_num_46   172659 non-null  float64
 45  x_num_47   172659 non-null  float64
 46  x_num_48   172659 non-null  float64
 47  x_num_49   172659 non-null  float64
 48  x_num_50   172659 non-null  float64
 49  x_num_51   172659 non-null  float64
 50  x_num_52   172659 non-null  float64
 51  x_num_53   172659 non-null  float64
 52  x_num_54   172659 non-null  float64
 53  x_num_55   0 non-null       float64
 54  x_num_56   172659 non-null  float64
 55  x_num_57   172659 non-null  float64
 56  x_num_58   172659 non-null  float64
 57  x_num_59   172659 non-null  float64
 58  x_num_60   172659 non-null  float64
 59  x_num_61   172659 non-null  float64
 60  x_num_62   172659 non-null  float64
 61  x_num_63   172659 non-null  float64
 62  x_num_64   172659 non-null  float64
 63  x_num_65   172659 non-null  float64
 64  x_num_66   172659 non-null  float64
 65  x_num_67   172659 non-null  float64
 66  x_num_68   172659 non-null  float64
 67  x_num_69   172659 non-null  float64
dtypes: float64(66), int64(2)
memory usage: 89.6 MB

In [19]:
#'x_num_8','x_num_55'没有一个数据，需要删除
#‘x_num_18’,‘x_num_43'中绝大部分都是缺失值，直接删除
data_m_train=data_m_train.drop(columns=['x_num_8','x_num_18','x_num_43','x_num_55'])

In [20]:
data_m_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172659 entries, 0 to 172658
Data columns (total 64 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         172659 non-null  int64
 1   timestamp  172659 non-null  int64
 2   x_num_70   172659 non-null  float64
 3   x_num_5    172659 non-null  float64
 4   x_num_6    172659 non-null  float64
 5   x_num_7    172659 non-null  float64
 6   x_num_9    172659 non-null  float64
 7   x_num_10   172659 non-null  float64
 8   x_num_11   172659 non-null  float64
 9   x_num_12   172659 non-null  float64
 10  x_num_13   172659 non-null  float64
 11  x_num_14   172659 non-null  float64
 12  x_num_15   172659 non-null  float64
 13  x_num_16   172659 non-null  float64
 14  x_num_17   172659 non-null  float64
 15  x_num_19   172659 non-null  float64
 16  x_num_20   172659 non-null  float64
 17  x_num_21   172659 non-null  float64
 18  x_num_22   172659 non-null  float64
 19  x_num_23   172659 non-null  float64
 20  x_num_24   172659 non-null  float64
 21  x_num_25   172659 non-null  float64
 22  x_num_26   172659 non-null  float64
 23  x_num_27   172659 non-null  float64
 24  x_num_28   172659 non-null  float64
 25  x_num_29   172659 non-null  float64
 26  x_num_30   172659 non-null  float64
 27  x_num_31   172659 non-null  float64
 28  x_num_32   172659 non-null  float64
 29  x_num_33   172659 non-null  float64
 30  x_num_34   172659 non-null  float64
 31  x_num_35   172659 non-null  float64
 32  x_num_36   172659 non-null  float64
 33  x_num_37   172659 non-null  float64
 34  x_num_38   172659 non-null  float64
 35  x_num_39   172659 non-null  float64
 36  x_num_40   172659 non-null  float64
 37  x_num_41   164434 non-null  float64
 38  x_num_42   172659 non-null  float64
 39  x_num_44   172659 non-null  float64
 40  x_num_45   172659 non-null  float64
 41  x_num_46   172659 non-null  float64
 42  x_num_47   172659 non-null  float64
 43  x_num_48   172659 non-null  float64
 44  x_num_49   172659 non-null  float64
 45  x_num_50   172659 non-null  float64
 46  x_num_51   172659 non-null  float64
 47  x_num_52   172659 non-null  float64
 48  x_num_53   172659 non-null  float64
 49  x_num_54   172659 non-null  float64
 50  x_num_56   172659 non-null  float64
 51  x_num_57   172659 non-null  float64
 52  x_num_58   172659 non-null  float64
 53  x_num_59   172659 non-null  float64
 54  x_num_60   172659 non-null  float64
 55  x_num_61   172659 non-null  float64
 56  x_num_62   172659 non-null  float64
 57  x_num_63   172659 non-null  float64
 58  x_num_64   172659 non-null  float64
 59  x_num_65   172659 non-null  float64
 60  x_num_66   172659 non-null  float64
 61  x_num_67   172659 non-null  float64
 62  x_num_68   172659 non-null  float64
 63  x_num_69   172659 non-null  float64
dtypes: float64(62), int64(2)
memory usage: 84.3 MB

In [21]:
#'x_num_41'存在少量缺失值，需填充

import numpy as np
#成缺失值和非缺失值两部分，分别作为训练集和测试集
know_m=data_m_train[data_m_train['x_num_41'].notnull()].values
unknow_m=data_m_train[data_m_train['x_num_41'].isnull()].values

#获取训练集特征和结果标签
X_m=np.c_[know_m[:,:37],know_m[:,38:]] #训练集特征
y_m=know_m[:,37]  #训练集的结果标签

#利用上面构建的训练集训练随机森林回归模型
RF_clf=RandomForestRegressor(random_state=0,n_estimators=200,n_jobs=-1)
RF_clf.fit(X_m,y_m)

#用得到的模型对年龄位置的样本进行预测
y_predicted=RF_clf.predict(np.c_[unknow_m[:,:37],unknow_m[:,38:]])

#用得到的预测结果填补原缺失数据
data_m_train.loc[(data_m_train['x_num_41'].isnull()),'x_num_41']=y_predicted

In [22]:
data_m_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172659 entries, 0 to 172658
Data columns (total 64 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         172659 non-null  int64
 1   timestamp  172659 non-null  int64
 2   x_num_70   172659 non-null  float64
 3   x_num_5    172659 non-null  float64
 4   x_num_6    172659 non-null  float64
 5   x_num_7    172659 non-null  float64
 6   x_num_9    172659 non-null  float64
 7   x_num_10   172659 non-null  float64
 8   x_num_11   172659 non-null  float64
 9   x_num_12   172659 non-null  float64
 10  x_num_13   172659 non-null  float64
 11  x_num_14   172659 non-null  float64
 12  x_num_15   172659 non-null  float64
 13  x_num_16   172659 non-null  float64
 14  x_num_17   172659 non-null  float64
 15  x_num_19   172659 non-null  float64
 16  x_num_20   172659 non-null  float64
 17  x_num_21   172659 non-null  float64
 18  x_num_22   172659 non-null  float64
 19  x_num_23   172659 non-null  float64
 20  x_num_24   172659 non-null  float64
 21  x_num_25   172659 non-null  float64
 22  x_num_26   172659 non-null  float64
 23  x_num_27   172659 non-null  float64
 24  x_num_28   172659 non-null  float64
 25  x_num_29   172659 non-null  float64
 26  x_num_30   172659 non-null  float64
 27  x_num_31   172659 non-null  float64
 28  x_num_32   172659 non-null  float64
 29  x_num_33   172659 non-null  float64
 30  x_num_34   172659 non-null  float64
 31  x_num_35   172659 non-null  float64
 32  x_num_36   172659 non-null  float64
 33  x_num_37   172659 non-null  float64
 34  x_num_38   172659 non-null  float64
 35  x_num_39   172659 non-null  float64
 36  x_num_40   172659 non-null  float64
 37  x_num_41   172659 non-null  float64
 38  x_num_42   172659 non-null  float64
 39  x_num_44   172659 non-null  float64
 40  x_num_45   172659 non-null  float64
 41  x_num_46   172659 non-null  float64
 42  x_num_47   172659 non-null  float64
 43  x_num_48   172659 non-null  float64
 44  x_num_49   172659 non-null  float64
 45  x_num_50   172659 non-null  float64
 46  x_num_51   172659 non-null  float64
 47  x_num_52   172659 non-null  float64
 48  x_num_53   172659 non-null  float64
 49  x_num_54   172659 non-null  float64
 50  x_num_56   172659 non-null  float64
 51  x_num_57   172659 non-null  float64
 52  x_num_58   172659 non-null  float64
 53  x_num_59   172659 non-null  float64
 54  x_num_60   172659 non-null  float64
 55  x_num_61   172659 non-null  float64
 56  x_num_62   172659 non-null  float64
 57  x_num_63   172659 non-null  float64
 58  x_num_64   172659 non-null  float64
 59  x_num_65   172659 non-null  float64
 60  x_num_66   172659 non-null  float64
 61  x_num_67   172659 non-null  float64
 62  x_num_68   172659 non-null  float64
 63  x_num_69   172659 non-null  float64
dtypes: float64(62), int64(2)
memory usage: 84.3 MB

**按'id‘进行指标整理**

In [23]:
#按id统计timestamp的数量
a1=data_m_train[['id','timestamp']].groupby('id',group_keys=False).max()

In [24]:
a1.columns=['num']

In [25]:
a1.head()

    num
id
0    21
1     5
2    18
3    10
4     8

In [26]:
#按id统计每列的最大值
a2=data_m_train[['id']+list(data_m_train.columns)[2:]].groupby('id').max()

In [27]:
a2.columns=list(data_m_train.columns[2:]+"_max")

In [28]:
a2.head()

,x_num_70_max,x_num_5_max,x_num_6_max,x_num_7_max,x_num_9_max,x_num_10_max,x_num_11_max,x_num_12_max,x_num_13_max,x_num_14_max,...,x_num_60_max,x_num_61_max,x_num_62_max,x_num_63_max,x_num_64_max,x_num_65_max,x_num_66_max,x_num_67_max,x_num_68_max,x_num_69_max
id,,,,,,,,,,,,,,,,,,,,,
0,0.500000,0.032967,0.0,0.0,0.090909,0.002425,0.0,0.0,0.006358,0.142857,...,0.024096,0.022222,0.007389,0.0,0.0,0.000000,0.0,0.0,0.166667,0.111111
1,0.208333,0.025641,0.0,0.0,0.090909,0.003326,0.0,0.0,0.007366,0.142857,...,0.019277,0.011111,0.001977,0.0,0.0,0.166667,0.0,0.0,0.583333,0.111111
2,0.250000,0.003663,0.0,0.0,0.000000,0.003335,0.0,0.0,0.007386,0.142857,...,0.012048,0.011111,0.008013,0.0,0.0,0.000000,0.0,0.0,0.083333,0.027778
3,0.416667,0.054945,0.0,0.0,0.060606,0.003204,0.0,0.0,0.007096,0.000000,...,0.024096,0.011111,0.000490,0.0,0.0,0.000000,0.0,0.0,0.083333,0.055556
4,0.333333,0.014652,0.0,0.0,0.000000,0.003186,0.0,0.0,0.007057,0.000000,...,0.040964,0.011111,0.000803,0.0,0.0,0.000000,0.0,0.0,0.250000,0.000000

In [29]:
#按id统计每列的最小值
a3=data_m_train[['id']+list(data_m_train.columns)[2:]].groupby('id').min()

In [30]:
a3.columns=list(data_m_train.columns[2:]+"_min")

In [31]:
a3.head()

,x_num_70_min,x_num_5_min,x_num_6_min,x_num_7_min,x_num_9_min,x_num_10_min,x_num_11_min,x_num_12_min,x_num_13_min,x_num_14_min,...,x_num_60_min,x_num_61_min,x_num_62_min,x_num_63_min,x_num_64_min,x_num_65_min,x_num_66_min,x_num_67_min,x_num_68_min,x_num_69_min
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.060606,0.0,0.0,0.0,0.000000,0.000000,...,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
1,0.0,0.0,0.0,0.0,0.090909,0.0,0.0,0.0,0.005658,0.142857,...,0.00000,0.0,0.001512,0.0,0.0,0.0,0.0,0.0,0.583333,0.111111
2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.060606,0.0,0.0,0.0,0.004755,0.000000,...,0.00000,0.0,0.000364,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
4,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.003623,0.000000,...,0.00241,0.0,0.000321,0.0,0.0,0.0,0.0,0.0,0.250000,0.000000

In [32]:
#按id统计每列的标准差
a4=data_m_train[['id']+list(data_m_train.columns)[2:]].groupby('id').std()

In [33]:
a4.columns=list(data_m_train.columns[2:]+"_std")

In [34]:
a4.head()

,x_num_70_std,x_num_5_std,x_num_6_std,x_num_7_std,x_num_9_std,x_num_10_std,x_num_11_std,x_num_12_std,x_num_13_std,x_num_14_std,...,x_num_60_std,x_num_61_std,x_num_62_std,x_num_63_std,x_num_64_std,x_num_65_std,x_num_66_std,x_num_67_std,x_num_68_std,x_num_69_std
id,,,,,,,,,,,,,,,,,,,,,
0,0.155468,0.008288,0.0,0.0,0.012998,0.000766,0.0,0.0,0.001702,0.071891,...,0.005881,0.007012,0.002271,0.0,0.0,0.000000,0.0,0.0,0.035744,0.023548
1,0.077951,0.009737,0.0,0.0,0.000000,0.001338,0.0,0.0,0.000657,0.000000,...,0.008064,0.005738,0.000240,0.0,0.0,0.068041,0.0,0.0,0.000000,0.000000
2,0.084902,0.001155,0.0,0.0,0.000000,0.001167,0.0,0.0,0.002200,0.064631,...,0.003672,0.004163,0.002187,0.0,0.0,0.000000,0.0,0.0,0.041300,0.012567
3,0.138193,0.020674,0.0,0.0,0.000000,0.000991,0.0,0.0,0.000786,0.000000,...,0.010020,0.004495,0.000038,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000
4,0.114109,0.005180,0.0,0.0,0.000000,0.001405,0.0,0.0,0.001296,0.000000,...,0.013796,0.005556,0.000193,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000

**合并**

In [35]:
b1=pd.merge(a1,a2,how='outer',on=['id']) 
b1.head()

,num,x_num_70_max,x_num_5_max,x_num_6_max,x_num_7_max,x_num_9_max,x_num_10_max,x_num_11_max,x_num_12_max,x_num_13_max,...,x_num_60_max,x_num_61_max,x_num_62_max,x_num_63_max,x_num_64_max,x_num_65_max,x_num_66_max,x_num_67_max,x_num_68_max,x_num_69_max
id,,,,,,,,,,,,,,,,,,,,,
0,21,0.500000,0.032967,0.0,0.0,0.090909,0.002425,0.0,0.0,0.006358,...,0.024096,0.022222,0.007389,0.0,0.0,0.000000,0.0,0.0,0.166667,0.111111
1,5,0.208333,0.025641,0.0,0.0,0.090909,0.003326,0.0,0.0,0.007366,...,0.019277,0.011111,0.001977,0.0,0.0,0.166667,0.0,0.0,0.583333,0.111111
2,18,0.250000,0.003663,0.0,0.0,0.000000,0.003335,0.0,0.0,0.007386,...,0.012048,0.011111,0.008013,0.0,0.0,0.000000,0.0,0.0,0.083333,0.027778
3,10,0.416667,0.054945,0.0,0.0,0.060606,0.003204,0.0,0.0,0.007096,...,0.024096,0.011111,0.000490,0.0,0.0,0.000000,0.0,0.0,0.083333,0.055556
4,8,0.333333,0.014652,0.0,0.0,0.000000,0.003186,0.0,0.0,0.007057,...,0.040964,0.011111,0.000803,0.0,0.0,0.000000,0.0,0.0,0.250000,0.000000

In [36]:
b2=pd.merge(b1,a3,how='outer',on=['id']) 
b2.head()

,num,x_num_70_max,x_num_5_max,x_num_6_max,x_num_7_max,x_num_9_max,x_num_10_max,x_num_11_max,x_num_12_max,x_num_13_max,...,x_num_60_min,x_num_61_min,x_num_62_min,x_num_63_min,x_num_64_min,x_num_65_min,x_num_66_min,x_num_67_min,x_num_68_min,x_num_69_min
id,,,,,,,,,,,,,,,,,,,,,
0,21,0.500000,0.032967,0.0,0.0,0.090909,0.002425,0.0,0.0,0.006358,...,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
1,5,0.208333,0.025641,0.0,0.0,0.090909,0.003326,0.0,0.0,0.007366,...,0.00000,0.0,0.001512,0.0,0.0,0.0,0.0,0.0,0.583333,0.111111
2,18,0.250000,0.003663,0.0,0.0,0.000000,0.003335,0.0,0.0,0.007386,...,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,10,0.416667,0.054945,0.0,0.0,0.060606,0.003204,0.0,0.0,0.007096,...,0.00000,0.0,0.000364,0.0,0.0,0.0,0.0,0.0,0.083333,0.055556
4,8,0.333333,0.014652,0.0,0.0,0.000000,0.003186,0.0,0.0,0.007057,...,0.00241,0.0,0.000321,0.0,0.0,0.0,0.0,0.0,0.250000,0.000000

In [37]:
b3=pd.merge(b2,a4,how='outer',on=['id']) 
b3.head()

,num,x_num_70_max,x_num_5_max,x_num_6_max,x_num_7_max,x_num_9_max,x_num_10_max,x_num_11_max,x_num_12_max,x_num_13_max,...,x_num_60_std,x_num_61_std,x_num_62_std,x_num_63_std,x_num_64_std,x_num_65_std,x_num_66_std,x_num_67_std,x_num_68_std,x_num_69_std
id,,,,,,,,,,,,,,,,,,,,,
0,21,0.500000,0.032967,0.0,0.0,0.090909,0.002425,0.0,0.0,0.006358,...,0.005881,0.007012,0.002271,0.0,0.0,0.000000,0.0,0.0,0.035744,0.023548
1,5,0.208333,0.025641,0.0,0.0,0.090909,0.003326,0.0,0.0,0.007366,...,0.008064,0.005738,0.000240,0.0,0.0,0.068041,0.0,0.0,0.000000,0.000000
2,18,0.250000,0.003663,0.0,0.0,0.000000,0.003335,0.0,0.0,0.007386,...,0.003672,0.004163,0.002187,0.0,0.0,0.000000,0.0,0.0,0.041300,0.012567
3,10,0.416667,0.054945,0.0,0.0,0.060606,0.003204,0.0,0.0,0.007096,...,0.010020,0.004495,0.000038,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000
4,8,0.333333,0.014652,0.0,0.0,0.000000,0.003186,0.0,0.0,0.007057,...,0.013796,0.005556,0.000193,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000

In [38]:
b3.shape

(15286, 187)

In [39]:
b3=b3.reset_index()
b3.head()

,id,num,x_num_70_max,x_num_5_max,x_num_6_max,x_num_7_max,x_num_9_max,x_num_10_max,x_num_11_max,x_num_12_max,...,x_num_60_std,x_num_61_std,x_num_62_std,x_num_63_std,x_num_64_std,x_num_65_std,x_num_66_std,x_num_67_std,x_num_68_std,x_num_69_std
0,0,21,0.500000,0.032967,0.0,0.0,0.090909,0.002425,0.0,0.0,...,0.005881,0.007012,0.002271,0.0,0.0,0.000000,0.0,0.0,0.035744,0.023548
1,1,5,0.208333,0.025641,0.0,0.0,0.090909,0.003326,0.0,0.0,...,0.008064,0.005738,0.000240,0.0,0.0,0.068041,0.0,0.0,0.000000,0.000000
2,2,18,0.250000,0.003663,0.0,0.0,0.000000,0.003335,0.0,0.0,...,0.003672,0.004163,0.002187,0.0,0.0,0.000000,0.0,0.0,0.041300,0.012567
3,3,10,0.416667,0.054945,0.0,0.0,0.060606,0.003204,0.0,0.0,...,0.010020,0.004495,0.000038,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000
4,4,8,0.333333,0.014652,0.0,0.0,0.000000,0.003186,0.0,0.0,...,0.013796,0.005556,0.000193,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000

### 行为表和信息表合并

In [40]:
data_train_all=pd.merge(data_b_train,b3,how='outer',on=['id'])

In [41]:
data_train_all.head()

,id,x_num_0,x_num_1,x_num_2,x_num_3,x_num_4,x_cat_0,x_cat_1,x_cat_2,x_cat_3,...,x_num_60_std,x_num_61_std,x_num_62_std,x_num_63_std,x_num_64_std,x_num_65_std,x_num_66_std,x_num_67_std,x_num_68_std,x_num_69_std
0,0,0.465,0.670640,0.575,0.739470,0.017005,0,0,0,0,...,0.005881,0.007012,0.002271,0.0,0.0,0.000000,0.0,0.0,0.035744,0.023548
1,1,0.630,0.884527,0.400,0.658543,0.017889,0,0,0,0,...,0.008064,0.005738,0.000240,0.0,0.0,0.068041,0.0,0.0,0.000000,0.000000
2,2,0.495,0.595843,0.300,0.661854,0.033889,0,0,1,0,...,0.003672,0.004163,0.002187,0.0,0.0,0.000000,0.0,0.0,0.041300,0.012567
3,3,0.705,0.884527,0.625,0.662914,0.004389,0,0,0,0,...,0.010020,0.004495,0.000038,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000
4,4,0.690,1.000000,0.475,0.652848,0.003889,0,0,0,0,...,0.013796,0.005556,0.000193,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000

### 特征和输出

In [42]:
X=data_train_all.drop(columns=['id'])

In [43]:
X.head()

,x_num_0,x_num_1,x_num_2,x_num_3,x_num_4,x_cat_0,x_cat_1,x_cat_2,x_cat_3,x_cat_4,...,x_num_60_std,x_num_61_std,x_num_62_std,x_num_63_std,x_num_64_std,x_num_65_std,x_num_66_std,x_num_67_std,x_num_68_std,x_num_69_std
0,0.465,0.670640,0.575,0.739470,0.017005,0,0,0,0,0,...,0.005881,0.007012,0.002271,0.0,0.0,0.000000,0.0,0.0,0.035744,0.023548
1,0.630,0.884527,0.400,0.658543,0.017889,0,0,0,0,0,...,0.008064,0.005738,0.000240,0.0,0.0,0.068041,0.0,0.0,0.000000,0.000000
2,0.495,0.595843,0.300,0.661854,0.033889,0,0,1,0,1,...,0.003672,0.004163,0.002187,0.0,0.0,0.000000,0.0,0.0,0.041300,0.012567
3,0.705,0.884527,0.625,0.662914,0.004389,0,0,0,0,0,...,0.010020,0.004495,0.000038,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000
4,0.690,1.000000,0.475,0.652848,0.003889,0,0,0,0,0,...,0.013796,0.005556,0.000193,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000

In [44]:
X.shape

(15286, 205)

In [45]:
y_data=pd.read_csv("y_train.csv")

In [46]:
y_data[:5]

   id  target
0   0       1
1   1       1
2   2       0
3   3       0
4   4       0

In [47]:
y_data.shape

(15286, 2)

In [48]:
y=y_data['target']

In [49]:
y[1:10].values

array([1, 0, 0, 0, 0, 0, 0, 0, 0])

## 构建模型

In [79]:
import xgboost as xgb
from xgboost import plot_importance
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import warnings
from xgboost.sklearn import XGBClassifier
from sklearn import metrics

In [52]:
# 分训练集和测试集
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=12343)
print('训练集和测试集 shape', X_train.shape, y_train.shape, X_test.shape, y_test.shape)

训练集和测试集 shape (12228, 205) (12228,) (3058, 205) (3058,)

In [75]:
# xgboost
from xgboost import XGBClassifier
xgbc_model=XGBClassifier()

xgbc_model.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [57]:
# 随机森林
from sklearn.ensemble import RandomForestClassifier
rfc_model=RandomForestClassifier()
rfc_model.fit(X,y)

RandomForestClassifier()

In [58]:
# ET
from sklearn.ensemble import ExtraTreesClassifier
et_model=ExtraTreesClassifier()
et_model.fit(X,y)

ExtraTreesClassifier()

In [59]:
# 朴素贝叶斯
from sklearn.naive_bayes import GaussianNB
gnb_model=GaussianNB()
gnb_model.fit(X,y)

GaussianNB()

In [60]:
#K最近邻
from sklearn.neighbors import KNeighborsClassifier
knn_model=KNeighborsClassifier()
knn_model.fit(X,y)

KNeighborsClassifier()

In [61]:
#决策树
from sklearn.tree import DecisionTreeClassifier
dt_model=DecisionTreeClassifier()
dt_model.fit(X,y)

DecisionTreeClassifier()

In [62]:
#支持向量机
from sklearn.svm import SVC
svc_model=SVC()
svc_model.fit(X,y)

SVC()

In [66]:
#逻辑回归
from sklearn.linear_model import LogisticRegression
lr_model=LogisticRegression(solver='newton-cg')
lr_model.fit(X,y)

LogisticRegression(solver='newton-cg')

In [67]:
from sklearn.model_selection import cross_val_score
print("\n使用５折交叉验证方法得随机森林模型的准确率（每次迭代的准确率的均值）：")
print("\tXGBoost模型：",cross_val_score(xgbc_model,X,y,cv=5).mean())
print("\t随机森林模型：",cross_val_score(rfc_model,X,y,cv=5).mean())
print("\tET模型：",cross_val_score(et_model,X,y,cv=5).mean())
print("\t高斯朴素贝叶斯模型：",cross_val_score(gnb_model,X,y,cv=5).mean())
print("\tK最近邻模型：",cross_val_score(knn_model,X,y,cv=5).mean())
print("\t逻辑回归：",cross_val_score(lr_model,X,y,cv=5).mean())
print("\t决策树：",cross_val_score(dt_model,X,y,cv=5).mean())
print("\t支持向量机：",cross_val_score(svc_model,X,y,cv=5).mean())

使用５折交叉验证方法得随机森林模型的准确率（每次迭代的准确率的均值）：
	XGBoost模型： 0.8972261498500369
	随机森林模型： 0.898600067220735
	ET模型： 0.8969645195610841
	高斯朴素贝叶斯模型： 0.45590848224266517
	K最近邻模型： 0.8849270659304477
	逻辑回归： 0.8957868944384149
	决策树： 0.8380221186597872
	支持向量机： 0.8951982316368333

**XGBoost模型参数调优**

这里设置固定的学习速率 learning rate为0.3，n_estimators=100，也可以对其进行调优

In [83]:
#max_depth和min_child_weight参数调优
#max_depth和min_child_weight参数对最终结果有很大的影响。max_depth通常在1-10之间，min_child_weight。采用栅格搜索（grid search），我们先大范围地粗略参数，然后再小范围的微调。
#网格搜索scoring = 'roc_auc' 只支持二分类，多分类需要修改scoring（默认支持多分类）

param_test1 = {
'max_depth':[i for i in range(1,10,1)],
'min_child_weight':[i for i in range(1,6,1)]
}
from sklearn import svm, model_selection, datasets
gsearch = model_selection.GridSearchCV(
estimator = XGBClassifier(
learning_rate =0.3,
n_estimators=100, max_depth=5,
min_child_weight=1,
gamma=0,
subsample=0.8,
colsample_bytree=0.8,
objective= 'binary:logistic',
nthread=4,
scale_pos_weight=1,
seed=27),
param_grid = param_test1,
scoring='roc_auc',
n_jobs=4,
cv=5)
gsearch.fit(X_train,y_train)

print('max_depth_min_child_weight')
#print('gsearch1.grid_scores_', gsearch.cv_results_)
print('gsearch1.best_params_', gsearch.best_params_)
print('gsearch1.best_score_', gsearch.best_score_)

max_depth_min_child_weight
gsearch1.best_params_ {'max_depth': 2, 'min_child_weight': 1}
gsearch1.best_score_ 0.8303534702753076

In [ ]:
# gamma参数调优
# 在已经调整好其他参数的基础上，进行gamma参数的调优了。Gamma参数取值范围很大，这里设置为5，其实你也可以取更精确的gamma值。

param_test3 = {
 'gamma':[i/10.0 for i in range(0,5)]
}
gsearch = model_selection.GridSearchCV(
estimator = XGBClassifier(
learning_rate =0.1,
n_estimators=140,
max_depth=4,
min_child_weight=5,
gamma=0,
subsample=0.8,
colsample_bytree=0.8,
objective= 'binary:logistic',
nthread=4,
scale_pos_weight=1,
seed=27),
param_grid = param_test3,
scoring='roc_auc',
n_jobs=4,
cv=5)
gsearch.fit(X_train,y_train)
print('gamma')
#print('gsearch1.grid_scores_', gsearch.cv_results_)
print('gsearch1.best_params_', gsearch.best_params_)
print('gsearch1.best_score_', gsearch.best_score_)

In [50]:
#调整subsample 和 colsample_bytree参数
#尝试不同的subsample 和 colsample_bytree 参数。分两个阶段来进行这个步骤。这两个步骤都取0.6,0.7,0.8,0.9作为起始值。
#取0.6,0.7,0.8,0.9作为起始值

param_test4 = {
 'subsample':[i/10.0 for i in range(6,10)],
 'colsample_bytree':[i/10.0 for i in range(6,10)]
}

gsearch = model_selection.GridSearchCV(
estimator = XGBClassifier(
learning_rate =0.1,
n_estimators=177,
max_depth=4,
min_child_weight=5,
gamma=0.4,
subsample=0.8,
colsample_bytree=0.8,
objective= 'binary:logistic',
nthread=4,
scale_pos_weight=1,
seed=27),
param_grid = param_test4,
scoring='roc_auc',
n_jobs=4,
cv=5)
gsearch.fit(X_train,y_train)
print('subsample_colsample_bytree------------------')
#print('gsearch1.grid_scores_', gsearch.cv_results_)
print('gsearch1.best_params_', gsearch.best_params_)
print('gsearch1.best_score_', gsearch.best_score_)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [156]:
#正则化参数调优reg_alpha
#由于gamma函数提供了一种更加有效的降低过拟合的方法，大部分人很少会用到这个参数，但是我们可以尝试用一下这个参数。

param_test6 = {
 'reg_alpha':[1e-5, 1e-2, 0.1, 1, 100]
}

gsearch = model_selection.GridSearchCV(
estimator = XGBClassifier(
learning_rate =0.1,
n_estimators=177,
max_depth=4,
min_child_weight=5,
gamma=0.4,
subsample=0.9,
colsample_bytree=0.8,
objective= 'binary:logistic',
nthread=4,
scale_pos_weight=1,
seed=27),
param_grid = param_test6,
scoring='roc_auc',
n_jobs=4,
cv=5)
gsearch.fit(X_train,y_train)
print('reg_alpha------------------')
print('gsearch1.grid_scores_', gsearch.cv_results_)
print('gsearch1.best_params_', gsearch.best_params_)
print('gsearch1.best_score_', gsearch.best_score_)

0.9008242836582494

In [158]:
#正则化参数调优reg_lambda
#由于gamma函数提供了一种更加有效的降低过拟合的方法，大部分人很少会用到这个参数，但是我们可以尝试用一下这个参数。

param_test7 = {
 'reg_lambda':[1e-5, 1e-2, 0.1, 1, 100]
}
gsearch = model_selection.GridSearchCV(
estimator = XGBClassifier(
learning_rate =0.1,
n_estimators=177,
max_depth=4,
min_child_weight=5,
gamma=0.4,
subsample=0.9,
colsample_bytree=0.8,
objective= 'binary:logistic',
nthread=4,
scale_pos_weight=1,
seed=27),
param_grid = param_test7,
scoring='roc_auc',
n_jobs=4,
cv=5)
gsearch.fit(X_train,y_train)
print('reg_lambda------------------')
#print('gsearch1.grid_scores_', gsearch.cv_results_)
print('gsearch1.best_params_', gsearch.best_params_)
print('gsearch1.best_score_', gsearch.best_score_)

0.8951324657108998

**尝试使用XGBoost**